@tailwind base;
@tailwind components;
@tailwind utilities;

.rc-pagination-green .rc-pagination-item-active {
    background: #0a86f5;
    border-color: #0a86f5;
}

.rc-pagination-green .rc-pagination-item-active a {
    color: #fff;
}

.rc-pagination-green .rc-pagination-item:hover {
    border-color: #0a86f5;
}

.rc-pagination-green .rc-pagination-item:hover a {
    color: #0a86f5;
}

.rc-pagination-green .rc-pagination-prev button,
.rc-pagination-green .rc-pagination-next button {
    color: #6b7280;
}

.rc-pagination-green .rc-pagination-prev:hover button,
.rc-pagination-green .rc-pagination-next:hover button {
    color: #0a86f5;
    border-color: #0a86f5;
}
